/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: var(--font-family, IBM Plex mono, monospace, Arial, sans-serif);
  background-color: var(--bg-color, #000028);
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  position: relative;
  min-block-size: 668px;
  block-size: 100vh;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding: 10px;
}

.decorated-zone::before,
.decorated-zone::after{
  position: absolute;
  content: "";
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-block-start: 1px solid var(--corner-border-color, #FF0070);
  border-inline-end: 1px solid var(--corner-border-color, #FF0070);
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-block-end: 1px solid var(--corner-border-color, #FF0070);
  border-inline-start: 1px solid var(--corner-border-color, #FF0070);
}

.header_decoration {
  position: absolute;
  top: 10px;
  right: 19px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-self: flex-end;
}

.header_decoration::before {
  content: "REC";
  color: var(--highlight-color, #FF0070);
  font-family: var(--main-font-family, IBM Plex mono, monospace, Arial, sans-serif);
  font-size: var(--font-size, 18px);
  font-weight: var(--font-weight-normal, 400);
  font-style: normal;
  line-height: 25px;
  text-transform: uppercase;
}

.header_decoration::after {
  content: "";
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--highlight-color, #FF0070);
  color: var(--accent-color);
  background-color: var(--highlight-color, #FF0070);
}

.header__theme-menu {
  justify-self: flex-end;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-button {
  font-family: var(--font-family, IBM Plex mono, monospace, Arial, sans-serif);
  background-color: transparent;
  border: none;
  color: var(--menu-button-color,  #FF0070);
  text-transform: lowercase;
  font-size: var(--font-size, 18px);
  cursor: pointer;
  padding: 0px 13px;
  padding-block-end: 4px;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--menu-button-color, #FF0070);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--menu-button-color, #FF0070);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--menu-button-color-hover, #FF007066);
}

.header__title {
  place-self: center start;
  text-shadow: 4px 4px var(--main-title-color-shadow, #FF0070);
}

.logo-decoration {
  color: var(--main-title-color, #db00ff);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95px;
}

.header__text {
  justify-self: flex-end;
  color: var(--title-text-color, #000028);
  font-size: var(--font-size, 18px);
  font-weight: var(--font-weight-bold, 700);
  line-height: var(--line-height, 23.4px);
}

.title-decor {
  background-color: var(--text-bg-color, #FF0070);
}

.card__title-style {
  font-weight: var(--font-weight-normal, 400);
}

.main {
  margin-top: 40px;
  margin-bottom: 40px;
  display: grid;
  gap: 50px;
  padding-inline: 10px;
}

.main__section {
  display: grid;
  gap: 20px;
}

.content-section {
  display: grid;
  row-gap: 19.5px;
}

.section__title {
  color: var(--section-title-color,#FF0070);
  font-family: var(--font-family, IBM Plex mono, monospace, Arial, sans-serif);
  font-size: var(--font-size, 18px);
  font-weight: var(--font-weight-bold, 700);
  line-height: var(--line-height, 23.4px);
}

.card__title {
  color: var(--title-text-color, #000028);
  font-size: var(--font-size, 18px);
  line-height: var(--line-height, 23.4px);
}

.card__text {
  font-size: var(--font-size, 18px);
  color: var(--card-text-color, #F1B2CE);
  margin-block-start: 11px;
}

.text-link {
  font-family: var(--font-family, IBM Plex mono, monospace, Arial, sans-serif);
  text-shadow: 2px 2px 0 var(--main-title-color-shadow, #FF0070);
  text-decoration: none;
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  outline: 1px solid var(--card-text-color, #F1B2CE);
}

.text-link:hover {
  border-block-end: 1px solid var(--card-text-color, #F1B2CE);
}

.section__images {
  display: grid;
  gap: 10px;
}

.images__list {
  display: grid;
  gap: 10px;
}

.images__item {
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  min-block-size: 668px;
  block-size: 100vh;
  position: relative;
  display: grid;
	padding: 10px;
}

.footer__title {
  justify-self: center;
  align-self: center;
  text-shadow: 2px 2px 0 var(--main-title-color-shadow,  #FF0070);
}

@media (width >= 768px) {
  .page {
    gap: 60px;
  }

  .header {
    min-block-size: 1024px;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header_decoration {
    top: 20px;
    right: 28px;
  }

  .header__theme-menu {
    grid-column: 2;
	}

  .logo-decoration {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 99px;
  }

  .header__title {    
    margin-inline-start: -20px;
    grid-column: span 2;    
  }

  .header__text {
    grid-column: 2;
  }

  .main {
    gap: 80px;
    padding-inline: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .main__section {
    grid-template-columns: 1fr 2fr;
  }

  .section__description {
    grid-column: 1 / 4;
  }

  .section__images {
    gap: 20px;
  }

  .images__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }

  .images__item {
    object-fit: cover;
    object-position: top;
  }

  .images__item:nth-child(1) {
    grid-column: 1 / 3;
  }

  .images__item:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
  }

  .images__item:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
  }

  .images__item:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
  }

  .images__item:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }

  .footer {
    min-block-size: 1024px;
  }
}

@media (width >= 1024px) {
  .header {
    min-block-size: 768px;
  }

  .logo-decoration {
    line-height: 129px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    grid-column: span 2;
  }

  .header__theme-menu-list {
    grid-auto-flow: column;
  }

  .section__description {
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    gap: 20px;
  }

  .card__section {
    column-gap: 20px;
  }

  .footer {
    min-block-size: 768px;
  }
}